.banner {
    background-color: orange;
}

.subtext {
    font-style: italic;
}

.hand {
    max-width: 20rem;
    height: auto;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.steps {
    font-weight: 500;
}

.footer {
    color: white;
}
